* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2020/04/04/06/46/easter-eggs-5001070_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
}