* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2018/05/09/18/36/avenue-3385832_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
}